<div class="grid-x grid-x-margin plant-card card-section">
    <div class="cell medium-3 ">
        {{#if dataValues.Photos.[0].dataValues.url}}

        <img src={{dataValues.Photos.[0].dataValues.url}} style="width: 100%; cursor: pointer" alt="{{dataValues.commonName}} photo" data-open="view{{dataValues.id}}Modal">

        <div class=" reveal" id="view{{dataValues.id}}Modal" data-reveal>

            <img src={{dataValues.Photos.[0].dataValues.url}}  alt="{{dataValues.commonName}}>

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {{else}}
        <img src="/assets/images/Potted Plant1.jpg" alt="plant placeholder">
        {{/if}}
    </div>

    <div class="cell medium-6" style="padding-left: 25px;">
        <p>
            <strong>Owner: </strong>
            {{dataValues.User.dataValues.userName}}
        </p>
        <p>
            <strong>Nickname</strong>
            {{dataValues.nickname}}
        </p>
        <p>
            <strong>Common Name</strong>
            {{dataValues.commonName}}
        </p>
        <p>
            <strong>Scientific Name</strong>
            {{dataValues.scientificName}}
        </p>
        <p>
            <strong>Water every {{dataValues.waterFrequency}} days</strong>
        </p>
    </div>
</div>