{{>navbar}}

<div class="grid-container grid-container-margin">
  <div class="grid-x grid-x-margin">

    <div class="cell medium-2" style="text-align: center;">
      <img src="/assets/images/wateringcan.png" style="width: 90%; cursor: pointer;" class="wateredBtn"
        data-id={{{dataValues.id}}} title="Water Me!">
    </div>
    <div class="cell medium-10" style="padding-left: 25px;">
      <h1>{{dataValues.nickname}}</h1>
      <h3>{{#if dataValues.isWatered}}I have enough water. {{else}}I need water! {{/if}}</h3>
    </div>
  </div>

  <div class="grid-x grid-x-margin">
    <div class="cell medium-3">
      {{#if dataValues.Photos.[0].dataValues.url}}
      <img src="{{dataValues.Photos.[0].dataValues.url}}" style="width: 100" alt="" {{#if
        dataValues.isWatered}}class="is-watered" {{else}}class="img not-watered" {{/if}}>
      {{else}}
      <img src="/assets/images/Potted Plant1.jpg" {{#if dataValues.isWatered}}class="img is-watered"
        {{else}}class="img not-watered" {{/if}}>
      {{/if}}
    </div>
    <div class="cell medium-9" style="padding-left: 25px;">
      <p>
        <strong>Nickname: </strong><span id="nicknameText">{{dataValues.nickname}}</span>
      </p>
      <p>
        <strong>Common Name: </strong> {{dataValues.commonName}}
      </p>
      <p>
        <strong>Scientific Name: </strong>{{dataValues.scientificName}}
      </p>
      <p>
        <strong>Last Watered: </strong>{{dataValues.lastWatered}}
      </p>
      <p>
        <strong>Water every {{dataValues.waterFrequency}} days.</strong>
      </p>
      <p>
        <strong>Next water Due: </strong>{{dataValues.waterDue}}
      </p>
      <p>
        <strong>Notes &amp; Care: </strong>
        {{dataValues.notes}}
      </p>
      <p>
        <strong>Created: </strong> {{dataValues.createdAt}}
      </p>
      <button class="btn hiddenElement" id="saveWater" value={{dataValues.id}}>Save</button>
    </div>
  </div>
</div>
</div>

{{#if dataValues.Photos}}

<div class="grid-container grid-container-margin">
  <div class="grid-x grid-x-margin">

    {{#each dataValues.Photos}}
    {{>photo-block this}}
    {{/each}}
  </div>
</div>

{{else}}

<div class="grid-container grid-container-margin">

  <div class="grid-x grid-x-margin">
    <div class="cell medium-12">
      <h3>
        You don't have any photos yet. <br>
      </h3>
    </div>
  </div>
  <div class="grid-x grid-x-margin">

    <div class="cell medium-3">
      <img src="/assets/images/Potted Plant1.jpg" {{#if dataValues.isWatered}}class="img is-watered"
        {{else}}class="img not-watered" {{/if}}>
    </div>
  </div>
</div>

{{/if}}
