<h1>Hello {{{name}}}!</h1>



{{!--

<ul class="accordion" data-accordion>
  <li class="accordion-item is-active" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Accordion 1</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      <p>Panel 1. Lorem ipsum dolor</p>
      <a href="#">Nowhere to Go</a>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Accordion 2</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      <p>Panel 1. Lorem ipsum dolor</p>
      <a href="#">Nowhere to Go</a>
    </div>
  </li>
  <li class="accordion-item is-active" data-accordion-item>
    <!-- Accordion tab title -->
    <a href="#" class="accordion-title">Accordion 3</a>

    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
    <div class="accordion-content" data-tab-content>
      <p>Panel 1. Lorem ipsum dolor</p>
      <a href="#">Nowhere to Go</a>
    </div>
  </li>
</ul>

<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell medium-2 small-2">
      <div class="card">
        <h4>Name</h4>
        <div class="card-section">
          <img src="https://place-puppy.com/150x150">
        </div>
        <div class="card-section">
          <button>Just watered!</button>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <h4>Name</h4>
        <div class="card-section">
          <img src="https://place-puppy.com/150x150">
        </div>
        <div class="card-section">
          <button>Just watered!</button>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <h4>Name</h4>
        <div class="card-section">
          <img src="https://place-puppy.com/150x150">
        </div>
        <div class="card-section">
          <button>Just watered!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
      <div class="card">
        <h4>Name</h4>
        <div class="card-section">
          <img src="https://place-puppy.com/150x150">
        </div>
        <div class="card-section">
          <button>Just watered!</button>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <h4>Name</h4>
        <div class="card-section">
          <img src="https://place-puppy.com/150x150">
        </div>
        <div class="card-section">
          <button>Just watered!</button>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="card">
        <h4>Name</h4>
        <div class="card-section">
          <img src="https://place-puppy.com/150x150">
        </div>
        <div class="card-section">
          <button>Just watered!</button>
        </div>
      </div>
    </div>
  </div>
</div> --}}

<h1>

</h1>

{{#each Plants}}
{{dataValues.nickname}}<br>
{{dataValues.commonName}}<br>
{{dataValues.scientificName}}<br>
{{#each Photos}}
<img src="{{dataValues.url}}" alt="">
{{/each}}
{{/each}}