<div class="callout plant-page">
  <h5 id="nicknameText">Nickname: {{dataValues.nickname}}</h5>
  <textarea class="hiddenElement" id="nickname" name="nickname" rows="1" cols="20">{{dataValues.nickname}}</textarea>
  <button class="btn editNickname">Edit</button>
  <button class="btn hiddenElement" id="saveName" value={{dataValues.id}}>Save</button>
</div>

<div class="callout plant-page">
  <h5 id="science-name"> Scientific Name: {{dataValues.scientificName}}</h5>
</div>

<div class="grid-container grid-container-padded">
  <div class="grid-x grid-margin-x align-center">
    <div class="grid-y grid-margin-y">

      <div class="cell shrink plant-page">
        <div class="callout small">
          <h5>Last Watered: {{dataValues.lastWatered}}</h5>
        </div>
      </div>

      <button class="btn watered-btn" id="waterBtn" value={{dataValues.id}}>Just watered!</button>


      <div class="card" style="width: 100%;">
        <div class="card-divider">
          <h4>Notes & Care Instructions</h4>
        </div>
        <textarea class="hiddenElement" id="plantText" name="notes" rows="4" cols="50">
                {{dataValues.notes}}
            </textarea>
        <p id="plantNotes">{{dataValues.notes}}</p>
        <button class="btn editNotes">Edit</button>
        <button class="btn hiddenElement" id="saveNotes" value={{dataValues.id}}>Save</button>
      </div>


      <div class="cell shrink plant-page">
        <div class="callout small" id="waterLevel">
          <h5>Recommended Water Frequency: Every {{dataValues.waterFrequency}} days</h5>
        </div>
        <p class="hiddenElement" id="waterUpdate">How many days would you like your watering frequency to be?</p>
        <span class="hiddenElement" id="hideInput">
          <input type="number" id="waterDays" name="watering" value={{dataValues.waterFrequency}}>
        </span>
        <button class="btn editWater">Edit</button>
        <button class="btn hiddenElement" id="saveWater" value={{dataValues.id}}>Save</button>
      </div>


      <div class="callout small">
        <h5><a href="/{{{dataValues.User.dataValues.userName}}}/plant/{{{dataValues.id}}}/addphoto">Add photo</a></h5>
      </div>

      <button class="btn delete-btn" id="deleteBtn" value={{dataValues.id}}>Remove Plant?</button>

    </div>
  </div>
</div>

{{#if dataValues.Photos}}

<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    {{#each dataValues.Photos}}
    <div class="cell large-4 medium-6 small-12 plant-card">
      <div class="card-section">
        <h3>{{#if ../dataValues.isWatered}} {{else}} {{/if}}</h3>
        <img src="{{dataValues.url}}" style="width: 200px" alt="" {{#if ../dataValues.isWatered}}class="img is-watered"
          {{else}}class="img not-watered" {{/if}}>
        <div>
          {{!-- Wel'll need to see about adding that information from the "photos" table in the DB. --}}
          <h4>{{dataValues.createdAt}}</h4>
          {{!-- I believe we'll want to add a STRING col to the "photos" table in the DB, for this. --}}
          {{!-- <p>Possible notes added to each picture upload?</p> --}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{else}}



<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
      <div class="card">

        <img src="/assets/images/Potted Plant1.jpg" {{#if ../dataValues.isWatered}}class="img is-watered"
          {{else}}class="img not-watered" {{/if}}>
        <div class="card-section">
          {{!-- Wel'll need to see about adding that information from the "photos" table in the DB. --}}
          <h4>{{dataValues.createdAt}}</h4>
          {{!-- I believe we'll want to add a STRING col to the "photos" table in the DB, for this. --}}
          {{!-- <p>Possible notes added to each picture upload?</p> --}}
        </div>
      </div>
    </div>
  </div>
</div>

{{/if}}