<div class="callout plant-page">
  <h5 id="nickname">{{dataValues.nickname}}</h5>
</div>

<div class="callout plant-page">
  <h5 id="science-name"> Scientific Name: {{dataValues.scientificName}}</h5>
</div>

<div class="grid-container grid-container-padded">
  <div class="grid-x grid-margin-x align-center">
    <div class="grid-y grid-margin-y">

      <div class="cell shrink plant-page">
        <div class="callout small">
          <h5>Last Watered: {{dataValues.lastWatered}}</h5>
        </div>
      </div>

      <button class="btn watered-btn" id="waterBtn" value={{dataValues.id}}>Just watered!</button>

      <button class="btn" id="deleteBtn" value={{dataValues.id}}>Delete plant?</button>


      
        <div class="card" style="width: 75%;">
          <div class="card-section">
            <h4>Notes & Care Instructions</h4>
          </div>
          <textarea id="notes" name="notes" rows="4" cols="50">
                {{dataValues.notes}}
            </textarea>
          <br>
          <button class="btn">Save</button>
          <button class="btn">Edit</button>
        </div>
     


      <div class="cell shrink plant-page">
        <div class="callout small">
          <h5>Recommended Water Frequency: Every {{dataValues.waterFrequency}} days</h5>
        </div>
      </div>

      <div class="callout small">
        <h5>Recommended Enviromental Conditions:</h5>
      </div>


      <div class="callout small">
        <h5><a href="/{{{dataValues.User.dataValues.userName}}}/plant/{{{dataValues.id}}}/addphoto">Add photo</a></h5>
      </div>


    </div>
  </div>
</div>


{{#each dataValues.Photos}}
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
      <div class="card">
        <img src="{{dataValues.url}}" style="width: 200px" alt="">
        <div class="card-section">
          {{!-- Wel'll need to see about adding that information from the "photos" table in the DB. --}}
          <h4>Date of Picture taken</h4>
          {{!-- I believe we'll want to add a STRING col to the "photos" table in the DB, for this. --}}
          {{!-- <p>Possible notes added to each picture upload?</p> --}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}