<div class="callout">
  <h5 id="science-name"> Scientific Name: {{dataValues.scientificName}}</h5>
</div>

<div class="callout small">
  <h5>Last Watered: {{dataValues.lastWatered}}</h5>
</div>

<button class="btn">Just watered!</button>

<div class="card" style="width: 75%;">
  <div class="card-divider">
    <h4>Notes & Care Instructions</h4>
    <textarea id="notes" name="notes" rows="4" cols="50">
      {{dataValues.notes}}
  </textarea>
    <br>
  </div>
</div>

<div class="callout small">
  <h5>Recommended Water Frequency: Every {{dataValues.waterFrequency}} days</h5>
</div>

<div class="callout small">
  <h5>Recommended Enviromental Conditions:</h5>
</div>

<div class="callout small">
  <h5><a href="/{{{dataValues.User.dataValues.userName}}}/plant/{{{dataValues.id}}}/addphoto">Add photo</a></h5>
</div>


{{#each dataValues.Photos}}
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="cell">
      <div class="card">
        <img src="{{dataValues.url}}" style="width: 200px" alt="">
        <div class="card-section">
          {{!-- Wel'll need to see about adding that information from the "photos" table in the DB.  --}}
          <h4>Date of Picture taken</h4>
          {{!-- I believe we'll want to add a STRING col to the "photos" table in the DB, for this. --}}
          <p>Possible notes added to each picture upload?</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}